<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="./stylesheets/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-custom-color">
        <div class="container-fluid custom-navbar">
          <a class="navbar-brand text-white" href="#">Portfo<spam>lio</spam></a>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/myprojects">My Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about">About Me </a>
              </li>
            </ul>
            <span class="navbar-text text-white">
              Galactico 
            </span>
          </div>
        </div>
      </nav>

    <div class="about-me-section">
        <div class="profile-card">
            <img class="profile-image" src="./images/user.jpg" alt="Profile Image">
        </div>

        <div class="about-card">
            <div class="personal-info">
                <h2>Vaibhav Bhatt</h2>
                <p>Electronics And Communication Engineering</p>
                <p>2022-2026 2nd Year Under-Graduate</p>
            </div>

            <div class="about-me-text">
                <h3>About Me</h3>
                <p>Motivated Electronics and Communication Engineer Undergraduate at JIIT-62 with a strong passion for software development and problem-solving. Actively honing Data Structures and Algorithms (DSA) skills through platforms like GeeksforGeeks and LeetCode, with a focus on practical application. Completed hands-on web development projects, demonstrating proficiency in HTML, CSS, and JavaScript.  Aspiring developer dedicated to continuous learning and personal growth. Committed to sharing knowledge and helping fellow beginners navigate the world of programming and development.  Open to opportunities that allow me to apply and expand my skills while making a positive impact in the tech community.
                </p>
            </div>

            <div class="social-links">
                <a href="https://www.instagram.com/_codigo_online/?igsh=MTNiYzNiMzkwZA%3D%3D" target="_blank">Instagram</a>
                <a href="https://www.linkedin.com/in/vaibhav-bhatt-900b46210/" target="_blank">LinkedIn</a>
                <a href="https://github.com/vaibhav211002" target="_blank">GitHub</a>
                <a href="https://leetcode.com/vaibhav_bhatt_101/" target="_blank">LeetCode</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
