<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio Website</title>
    <link rel="stylesheet" href="./stylesheets/style_proj.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-custom-color">
        <div class="container-fluid custom-navbar">
          <a class="navbar-brand text-white" href="#">Portfo<spam>lio</spam></a>
          <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/myprojects">My Projects</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about">About Me </a>
              </li>
            </ul>
            <span class="navbar-text text-white">
              Galactico 
            </span>
          </div>
        </div>
      </nav>
      <br>


      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card small-image-card">

              <div class="card mb-3" style="max-width: 540px;background-color: #000000; color: #ffffff;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./images/web_app.jpeg" class="img-fluid rounded-start small-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Live Weather App</h5>
                      <p class="card-text">This uses API to tell the weather of different locations.
                        <ul>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JS</li>
                        </ul>
                      </p>
                      <p class="card-text"><a class="text-white" href="https://lnkd.in/d5kWpdk9">Link To Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card small-image-card">

              <div class="card mb-3" style="max-width: 540px;background-color: #000000; color: #ffffff;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./images/todo.jpeg" class="img-fluid rounded-start small-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">To-Do List App</h5>
                      <p class="card-text">This uses databases and user-authentication system to record the tasks for the user.
                        <ul>
                          <li>HTML,Css,Js</li>
                          <li>Node.js</li>
                          <li>Express</li>
                          <li>MongoDB</li>
                        </ul>
                      </p>
                      <p class="card-text"><a class="text-white" href="https://galactico-todo-list.onrender.com/">Link To Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
      
          <div class="col">
            <div class="card small-image-card">
              <div class="card mb-3" style="max-width: 540px;background-color: #000000; color: #ffffff;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./images/image_gen.jpeg" class="img-fluid rounded-start small-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Image Generator API</h5>
                      <p class="card-text">This uses API to generate the images by using API provided by Unsplash.com.
                        <ul>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JS</li>
                        </ul>
                      </p>
                      <p class="card-text"><a class="text-white" href="https://vaibhav211002.github.io/IMAGE-GENERATOR_including_Api/">Link To Website</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="col">
            <div class="card small-image-card">
              <div class="card mb-3" style="max-width: 540px;background-color: #000000; color: #ffffff;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="./images/calculator.jpeg" class="img-fluid rounded-start small-image" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title ">Calculator</h5>
                      <p class="card-text ">This uses basic javascript to do basic calculation.
                        <ul>
                          <li>HTML</li>
                          <li>CSS</li>
                          <li>JS</li>
                        </ul>
                      </p>
                      <p class="card-text"><a class="text-white" href="https://vaibhav211002.github.io/calculator/">Link To Website</a></p>
                    </div>
                  </div>
            </div>
          </div>
        </div>
      </div>







          
    

    
    



        </div>
      </div>
      










      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="./javascripts/script.js"></script> 
</body>
</html>
